[% WRAPPER html.tt2 %]
<h1>Ingy dot Net:</h1>

<h2>Major GitHub Projects</h2>
<ul>
[% FOR project = projects %]
<li><b>
<a href="http://github.com/ingydotnet/[% project.name %]">[% project.title %]</a>
</b> - [% project.abstract %]</li>
[% END %]
</ul>

<h2>Talks</h2>
<ul>
[% FOR talk = talks %]
<li><b>
<a href="http://ingydotnet.github.com/[% project.name %]/">[% project.title %]</a>
</b></li>
[% END %]
</ul>

[% END %]
